<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Registro de Productos</title>
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/646ac4fad6.js"></script>
    <link rel="stylesheet" href="./css/dataTables.bootstrap5.css">
    <script src="script.js" defer></script>
</head>
<body>
    <div class="container">
    <h1>Registro de Productos</h1>
    
    <form id="Formulario">
        <div class="mb-3">
            <label for="nombreP" class="form-label">Nombre:</label>
            <input type="text" id="nombreP" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="precioP" class="form-label">Precio:</label>
            <input  type="text" id="precioP" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="DescripcionP" class="form-label">Descripción:</label>
            <textarea type="text" id="DescripcionP" class="form-control" required></textarea>
        </div>
        <button type="submit"  class="btn btn-primary">Registrar Producto</button>
    </form>
    <div></div>
</div>
<div class="container">
    <h2>Consulta de Productos</h2>
    <form id="consultaP">
        <button type="submit" class="btn btn-secondary"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input type="text" id="consulta" required></input>
    </form>

    <table id="tabla2" class="table table-striped">
        <thead>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Descripción</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody id="tablaConsultas">
        </tbody>
    </table>
</div>

<div class="container">
    <h2>Historial de solicitudes</h2>
    <table id="tablaProductos" class="table table-striped">
        <thead>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Descripción</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody id="tablaRegistros">
        </tbody>
    </table>
</div>